body {
  background-color: rgb(54 150 218);
}

img {
  margin: 4px;
  height: 50%;
  width: 50%;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.paddingtop {
  padding-top: 8px;
}

.column {
  flex-basis: calc(100% / 3);
}

.textalign {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.paddingtext {
  padding-right: 8px;
  padding-left: 8px;
}
