.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

.align {
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

.switch {
  height: 250px;
  width: 250px;
  background-color: rgb(37 37 37);
  border-radius: 50%;
  border: none;
}

.circle.light-bulb-on {
  background-color: rgb(250 233 132);
  box-shadow: 0 0 40px rgb(250 233 132);
}

body.light-on {
  background-color: rgb(254 249 241);
}
