.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

button {
  color: white;
  background-color: #294464;
}

.nav-img {
  margin-right: 10rem;
  margin-bottom: 8px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
}

.nav-border {
  border-bottom: 1px solid rgb(82 83 81);
  margin-bottom: 2rem;
}

.nav-item {
  padding-left: 4rem;
  padding-right: 1rem;
}

.nav-button {
  margin-left: 2rem;
}

.nav-padding {
  padding-top: 1rem;
}

.nav-margin {
  margin-bottom: 2rem;
}

.hero {
  max-width: 1000px;
  max-height: 600px;
  margin: auto;
  justify-content: space-evenly;
}

.hero-img {
  position: relative;
  max-width: 1000px;
  height: auto;
  margin-left: 4rem;
}

.hero-overlay {
  position: relative;
  width: 900px;
  margin: auto;
  background: linear-gradient(transparent, rgb(0 0 0 / 150%));
}

.hero-text {
  position: absolute;
  color: white;
  width: 30%;
  padding-left: 5rem;
  padding-top: 2rem;
  margin: auto;
}

.hero-button {
  position: absolute;
  color: white;
  width: 40%;
  margin-top: 24rem;
  margin-left: 10rem;
}

.body-txt {
  position: relative;
  bottom: 0;
  margin-top: 24px;
  flex-direction: column;
}

.body-align {
  text-align: center;
}

.body-padding {
  padding-bottom: 4rem;
}

.column-body {
  flex-basis: 50%;
}

.body-width {
  max-width: 900px;
}

.margin-left {
  margin-left: 4rem;
}

.column-25 {
  flex-basis: calc(100% / 4);
}

.bottom-bar {
  justify-content: flex-start;
  padding: 1rem;
  margin: 2rem;
}

.info-bar {
  color: white;
  background-color: rgb(82 83 81);
  width: 1000px;
  height: 400px;
}

.info-img {
  width: 150px;
  height: auto;
  padding-left: 2rem;
  padding-top: 2rem;
}

.info-margin {
  margin-bottom: 2rem;
}

.info-pad {
  padding-top: 4rem;
}

.location-txt {
  padding-left: 2rem;
}

.body-background {
  background-color: #fafafa;
  color: 727272;
}

.gs-margin {
  margin: 2rem;
}

.gs-margin-button {
  margin-left: 8rem;
  margin-top: 2rem;
}

.uppercase {
  text-transform: uppercase;
}
